.root {
  height: 2.8rem;
  width: 30%;
  padding: 0.2rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  margin-left: 10px;
  border: 1px solid #39a2db;
  border-bottom: none;
  background: #0e7094;
  color: white;
}

.primary {
  color: black;
  &:hover {
    background: rgba(50, 224, 196, 0.15);
  }
}

.secondary {
  background: #bec6c9;
  color: rgb(15, 13, 126);
  &:hover {
    background-color: darken(#bec6c9, 15%);
  }
}
