.root {
  width: 35%;
  height: 500px;
  background: #c9bebe;
  margin-top: 100px;
  color: #152127;
  border-radius: 0.3rem;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.tabtitle {
  display: flex;
  color: white;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: blue;
  height: 2rem;
  margin-top: 0;
  width: 100%;
  margin-left: 0;
}
.tabtitle h3 {
  margin-left: 2rem;
  vertical-align: middle;
  text-align: center;
  margin-top: 0.2rem;
}
.tabdiscription {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(15, 13, 126);
}
